<div class="explore">
  <nav>
      <div class="searchBox d-flex align-items-center justify-content-around m-auto">
          <input class="mt-2" type="text" placeholder="Search">
          <i class="fa-solid fa-gear"></i>
      </div>
      <div class="links d-flex align-items-center justify-content-around text-center">
          <div class="for col">
              <p class="fw-bold">For You</p>
          </div>
          <div class="trending col">
              <p class="fw-bold text-white-50">Trending</p>
          </div>
          <div class="news col">
              <p class="fw-bold text-white-50">News</p>
          </div>
          <div class="Sports col">
              <p class="fw-bold text-white-50">Sports</p>
          </div>
          <div class="enter col">
              <p class="fw-bold text-white-50">Entertainment</p>
          </div>
      </div>
  </nav>
  <div class="newnav d-lg-none d-md-none d-sm-block">
      <div class="nav p-1">
          <i class="bi bi-house-door-fill fs-1 text-white"></i>
          <i class="fa-solid fa-magnifying-glass fs-1 text-white"></i>
          <i class="fa-regular fa-bell fs-1 text-white"></i>
          <i class="fa-regular fa-envelope fs-1 text-white"></i>
          <i class="fa-solid fa-list fs-1 text-white"></i>
          <i class="fa-solid fa-user-group fs-1 text-white"></i>
      </div>
  </div>
  <div class="hashtag">
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Sports . Trending</p>
          <p class="fw-bold m-1 hashname">لا لهبوط الميلان</p>
          <p class="m-1 extag">42.2K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending in Egypt</p>
          <p class="fw-bold m-1 hashname">Liverpool</p>
          <p class="m-1 extag">982.6K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending</p>
          <p class="fw-bold m-1 hashname">Inter</p>
          <p class="m-1 extag">462K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending</p>
          <p class="fw-bold m-1 hashname">Ramadan Kareem</p>
          <p class="m-1 extag">1m posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending in Egypt</p>
          <p class="fw-bold m-1 hashname">Call Of Duty</p>
          <p class="m-1 extag">112K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Sports . Trending</p>
          <p class="fw-bold m-1 hashname">لا لهبوط الميلان</p>
          <p class="m-1 extag">42.2K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending in Egypt</p>
          <p class="fw-bold m-1 hashname">Liverpool</p>
          <p class="m-1 extag">982.6K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending</p>
          <p class="fw-bold m-1 hashname">Inter</p>
          <p class="m-1 extag">462K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending</p>
          <p class="fw-bold m-1 hashname">Ramadan Kareem</p>
          <p class="m-1 extag">1m posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
  <div class="trend d-flex align-items-center justify-content-between">
      <div class="txt">
          <p class="m-1 extag">Trending in Egypt</p>
          <p class="fw-bold m-1 hashname">Call Of Duty</p>
          <p class="m-1 extag">112K posts</p>
      </div>
      <div class="opt">
          <button class="btn-hash">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
      </div>
  </div>
</div>
</div>
