<div class="lists">
  <nav class="d-flex align-items-center justify-content-between p-1">
      <i class="fa-solid fa-arrow-left-long"></i>
      <input type="text" placeholder="Search Lists" />
      <i class="fa-regular fa-square-plus me-3"></i>
      <i class="fa-solid fa-ellipsis me-3"></i>
  </nav>
  <div class="newnav d-lg-none d-md-none d-sm-block">
    <div class="nav p-1">
        <i class="bi bi-house-door-fill fs-1 text-white"></i>
        <i class="fa-solid fa-magnifying-glass fs-1 text-white"></i>
        <i class="fa-regular fa-bell fs-1 text-white"></i>
        <i class="fa-regular fa-envelope fs-1 text-white"></i>
        <i class="fa-solid fa-list fs-1 text-white"></i>
        <i class="fa-solid fa-user-group fs-1 text-white"></i>
    </div>
</div>
  <section class="main">
      <h4 class="p-3 title-up">Pinned Lists</h4>
      <p class="p-4">Nothing to see here yet — pin your favorite Lists to access them quickly.</p>
  </section>
  <section class="lists post-ar">
      <div class="discover">
          <h4>Discover new Lists</h4>
          <div class="list1 mt-4 d-flex justify-content-between align-items-center">
              <div class="lft d-flex justify-content-center gap-3">
                  <div class="imag">
                      <img class="img-fluid rounded ms-3" src="assets/vendors/imgs/1.png" alt="">
                  </div>
                  <div class="txt d-flex flex-column">
                      <div class="upper d-flex gap-2">
                          <p class="text-white fw-bold">Fantasy PL</p>
                          <p>· 33 members</p>
                      </div>
                      <div class="lower d-flex align-items-center justify-content-between gap-4">
                          <div class="other">
                              <div class="imgs d-flex">
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar01.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar02.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar03.svg" alt="">
                                  </div>
                                  <div class="txt ps-3">
                                      <p>115 followers including @Fpl_7reef</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="icon pe-3">
                  <i class="fa-solid fa-plus"></i>
              </div>
          </div>
          <div class="list2 mt-4 d-flex justify-content-between align-items-center">
              <div class="lft d-flex justify-content-center gap-3">
                  <div class="imag">
                      <img class="img-fluid rounded ms-3" src="assets/vendors/imgs/2.png" alt="">
                  </div>
                  <div class="txt d-flex flex-column">
                      <div class="upper d-flex gap-2">
                          <p class="text-white fw-bold">PL Fantasy</p>
                          <p>· 27 members</p>
                      </div>
                      <div class="lower d-flex align-items-center justify-content-between gap-4">
                          <div class="other">
                              <div class="imgs d-flex">
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar04.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar05.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar06.svg" alt="">
                                  </div>
                                  <div class="txt ps-3">
                                      <p>319 followers including @alifaarouk</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="icon pe-3">
                  <i class="fa-solid fa-plus"></i>
              </div>
          </div>
          <div class="list3 mt-4 d-flex justify-content-between align-items-center">
              <div class="lft d-flex justify-content-center gap-3">
                  <div class="imag">
                      <img class="img-fluid rounded ms-3" src="assets/vendors/imgs/3.jpeg" alt="">
                  </div>
                  <div class="txt d-flex flex-column">
                      <div class="upper d-flex gap-2">
                          <p class="text-white fw-bold">Liverpool</p>
                          <p>· 3327 members</p>
                      </div>
                      <div class="lower d-flex align-items-center justify-content-between gap-4">
                          <div class="other">
                              <div class="imgs d-flex">
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar07.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar08.svg" alt="">
                                  </div>
                                  <div class="follower">
                                      <img class="text-center" src="assets/vendors/imgs/userAvatar09.svg" alt="">
                                  </div>
                                  <div class="txt ps-3">
                                      <p>290 followers including @rehamhamdii</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="icon pe-3">
                  <i class="fa-solid fa-plus"></i>
              </div>
          </div>
      </div>
  </section>
  <section class="last">
      <h4>Your Lists</h4>
      <p class="ps-3">You haven't created or followed any Lists. When you do, they'll show up here.</p>
  </section>
</div>
