<div class="container-fluid">
  <div class="row justify-content-between">
      <div class=" d-flex justify-content-between h-100">
          <div class="col-4">
              <div class="upper d-flex justify-content-between">
                  <div class="txt">
                      <p>Messages</p>
                  </div>
                  <div class="rit">
                      <i class="fa-solid fa-gear me-2"></i>
                      <i class="fa-regular fa-message"></i>
                  </div>
              </div>
              <div class="title">
                  <h3>Welcome to your inbox!</h3>
                  <p>Drop a line, share posts and more with private conversations between you and others on X. </p>
              </div>
              <button class="postbtn-2">Write Message</button>
          </div>
          <div class="ritt ps-5 d-flex flex-column align-items-center justify-content-center">
              <div class="title col-10">
                  <h3 >Select a message</h3>
                  <p>Choose from your existing conversations, start a new one, or just keep swimming. </p>
                  <button class="postbtn-2">New Message</button>
              </div>
          </div>
      </div>
  </div>
</div>
