  <div class="pt-2 pe-4 rit">
    <input type="text" placeholder="Search..." />
    <div class="subscribe p-4 mt-3 text-white">
        <h4>Subscibe to Premium</h4>
        <p>Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
        <button class="post-btn">Subscribe</button>
    </div>
    <div class="hashtag">
        <div class="title">
            <h4 class="fw-bold title ps-3 pt-3">What's happening</h4>
        </div>
        <div class="trend d-flex align-items-center justify-content-between">
            <div class="txt">
                <p class="m-1 extag">Sports . Trending</p>
                <p class="fw-bold m-1 hashname">Agrentina Copa Winners</p>
                <p class="m-1 extag">942.2K posts</p>
            </div>
            <div class="opt">
                <button class="btn-hash">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="trend d-flex align-items-center justify-content-between">
            <div class="txt">
                <p class="m-1 extag">Trending in Egypt</p>
                <p class="fw-bold m-1 hashname">أحمد رفعت</p>
                <p class="m-1 extag">182.6K posts</p>
            </div>
            <div class="opt">
                <button class="btn-hash">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="trend d-flex align-items-center justify-content-between">
            <div class="txt">
                <p class="m-1 extag">Trending</p>
                <p class="fw-bold m-1 hashname">Inter</p>
                <p class="m-1 extag">462K posts</p>
            </div>
            <div class="opt">
                <button class="btn-hash">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="trend d-flex align-items-center justify-content-between">
            <div class="txt">
                <p class="m-1 extag">Trending in Egypt</p>
                <p class="fw-bold m-1 hashname">عام هجري سعيد</p>
                <p class="m-1 extag">1m posts</p>
            </div>
            <div class="opt">
                <button class="btn-hash">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="trend d-flex align-items-center justify-content-between">
            <div class="txt">
                <p class="m-1 extag">Trending</p>
                <p class="fw-bold m-1 hashname">GTA VI</p>
                <p class="m-1 extag">112K posts</p>
            </div>
            <div class="opt">
                <button class="btn-hash">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
        <div class="trend trend-show p-3">
            <a href="">Show more</a>
        </div>
    </div>
    <div class="follow">
        <div class="title">
            <h4 class="fw-bold title ps-3 pt-3">Who to follow</h4>
        </div>
        <div class="profile d-flex align-items-center justify-content-between">
            <div class="prof d-flex align-items-center gap-3">
                <div class="imag">
                    <img class="rounded" src="assets/vendors/imgs/inter.jpg" alt="" />
                </div>
                <div class="txt mt-3">
                    <p class="fw-bold maintxt text-white m-0">Inter FC</p>
                    <p class="extag">@Inter</p>
                </div>
            </div>
            <div class="follow-btn">
                <button class="followButton">Follow</button>
            </div>
        </div>
        <div class="profile d-flex align-items-center justify-content-between">
            <div class="prof d-flex align-items-center gap-3">
                <div class="imag">
                    <img class="rounded" src="assets/vendors/imgs/Liverpool_FC.png" alt="" />
                </div>
                <div class="txt mt-3">
                    <p class="fw-bold maintxt text-white m-0">Liverpool FC</p>
                    <p class="extag">@LFC</p>
                </div>
            </div>
            <div class="follow-btn">
                <button class="followButton">Follow</button>
            </div>
        </div>
        <div class="profile d-flex align-items-center justify-content-between">
            <div class="prof d-flex align-items-center gap-3">
                <div class="imag">
                    <img class="rounded" src="assets/vendors/imgs/xbox.jpg" alt="" />
                </div>
                <div class="txt mt-3">
                    <p class="fw-bold maintxt text-white m-0">XBOX</p>
                    <p class="extag">@Xbox</p>
                </div>
            </div>
            <div class="follow-btn">
                <button class="followButton">Follow</button>
            </div>
        </div>
        <div class="profile profile-show p-3">
            <a href="">Show more</a>
        </div>
    </div>
  </div>
