<div class="notifications">
  <nav>
      <div class="upperpage d-flex align-items-center justify-content-between m-auto p-2 text-center">
          <p class="fw-bold">Notifications</p>
          <i class="fa-solid fa-gear"></i>
      </div>
      <div class="links">
          <div class="links d-flex align-items-center text-center">
              <div class="alll col-4">
                  <p class="fw-bold">All</p>
              </div>
              <div class="verified col-4">
                  <p class="fw-bold text-white-50">Verified</p>
              </div>
              <div class="mentions col-4">
                  <p class="fw-bold text-white-50">Mentions</p>
              </div>
          </div>
      </div>
  </nav>
  <div class="newnav d-lg-none d-md-none d-sm-block">
    <div class="nav p-1">
        <i class="bi bi-house-door-fill fs-1 text-white"></i>
        <i class="fa-solid fa-magnifying-glass fs-1 text-white"></i>
        <i class="fa-regular fa-bell fs-1 text-white"></i>
        <i class="fa-regular fa-envelope fs-1 text-white"></i>
        <i class="fa-solid fa-list fs-1 text-white"></i>
        <i class="fa-solid fa-user-group fs-1 text-white"></i>
    </div>
</div>
  <section class="notif post pt-3 pb-5 ps-4">
      <i class="fa-solid fa-user me-3"></i><img class="img-rad" src="assets/vendors/imgs/ziad.jpg" alt="">
      <p class="startedd"><Strong>Ziad Abdelrahman</Strong> started following you</p>
  </section>
  <section class="post post-ar pb-5 ps-2">
      <div class="upper pt-3 ps-3 d-flex align-items-center justify-content-start text-center gap-3 p-0 ">
          <div class="imag">
              <i class="fa-solid fa-comment-dots me-3"></i>
              <img class="img-fluid rounded " src="assets/vendors/imgs/emara.jpg" alt="">
          </div>
      </div>
      <div class="user d-flex align-items-center justify-content-start gap-2">
          <p class="ps-5 username">مش زياد عمارة posted</p>
      </div>
  <div class="caption text-end">
      <p class="me-3 other">ثريد الدبل والبلانكات ✅</p>
      <p class="me-3 other">مبدأيا توجد مباراة حتي الان مؤجله</p>
      <p class="me-3 other">تشيلسي 🆚 توتنهام                    </p>
      <p class="me-3 other">اذا هذه المباراة متوقع تتجدول في الجولة 34 او 37</p>
      <p class="me-3 other">طب المتوقع في الجولة 34 👇</p>
  </div>
  </section>
  <section class="post p-3 d-flex gap-3">
      <img class="img-fluid" src="assets/vendors/imgs/twitter-x-logo.png" alt="">
      <p class="text-white-50">There was a login to your account @Omar33273010 from a new device on Feb 23, 2024. Review it now.</p>
  </section>
  <section class="post p-3 d-flex gap-3">
      <img class="img-fluid" src="assets/vendors/imgs/twitter-x-logo.png" alt="">
      <p class="text-white-50">There was a login to your account @Omar33273010 from a new device on Oct 23, 2022. Review it now.</p>
  </section>
</div>
